.detailTable {
    border: 1px solid lightgrey;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 212px;
    left: 0px;
    right: 0;
    padding: 30px;
    padding-top: 0;
}

.title {
    color: rgb(50, 50, 255);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subTitle {
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.oneLine {
    display: flex;
}

.grey {
    background-color: lightgray;
}

.fileName {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}