.SideBar {
    width: 248px;
    position: absolute;
    top: 100px;
    bottom: 0;
    border-right: solid 2px lightgray;
}

.title {
    background-color: rgb(240, 240, 240);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.para {
    display: flex;
}